@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/basicStyle.css">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2 align="center">CALCULATOR WEB</h2>
<div class="contenedor">
    <div class="wrapper">
        <a href="home/Suma" class="btn btn-success btn-lg">Suma</a>
        <a href="home/Resta" class="btn btn-danger btn-lg">Resta</a>
        <a href="home/Division" class="btn btn-warning btn-lg">Division</a>
        <a href="home/Multiplicacion" class="btn btn-primary btn-lg">Multiplicacion</a>
    </div>
</div>